/* modal */
.modal{
    zoom: 85%;
}
.modal-body{
    padding-top:10px !important;
    padding-bottom:10px !important;
}
.modal.show .modal-dialog{
    -webkit-transform:unset !important;
    transform:unset !important;
}

.modal .form-group{
    margin:0px !important;
}


/* swall alert */
.swal2-popup{
    zoom: 75%;
}

/* responsive */
@media (max-width:991px){
    /* modal */
    .modal-backdrop{display: none;}
}